@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700,900|Nunito:400,700,900');
$nunito: 'Nunito',
sans-serif;
$muli: 'Muli',
sans-serif;
$primary :#F28C8F;
$primaryDark :#A36166;
$secondary: #564956;
* {
    padding: 0;
    margin: 0;
    font-family: $nunito;
    overflow: hidden;
    li {
        list-style: none;
        a {
            text-decoration: none;
        }
    }
    button {
        cursor: pointer;
    }
}

.contApp {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

header {
    width: 100vw;
    display: flex;
    flex-direction: row;
    min-height: 80px;
    max-height: 80px;
    z-index: 100;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    align-items: center;
    justify-content: space-between;
    .logo {
        width: 175px;
        height: 60px;
        background: #F28C8F;
        margin-left: 10px;
    }
    .menuContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        position: relative;
        .menu {
            ul {
                display: flex;
                flex-direction: row;
                li {
                    margin: 0 15px;
                    a {
                        font-weight: bold;
                        font-size: 18px;
                        color: $primaryDark;
                    }
                    a.focus {
                        background: $primary;
                        color: #fff;
                        padding: 5px 10px;
                    }
                }
            }
        }
        .outstanding {
            background: $primary;
            border: none;
            font-weight: bold;
            font-size: 18px;
            color: #FFFFFF;
            padding: 0 20px;
            height: 80px;
        }
        .socialMedia {
            display: flex;
            flex-direction: row;
            background: $primary;
            justify-content: center;
            align-content: center;
            align-items: center;
            width: 250px;
            height: 50px;
            border-radius: 0px 0px 50px 50px;
            position: absolute;
            bottom: -50px;
            right: 200;
            a {
                .icon {
                    margin: 0 10px;
                    width: 20px;
                    min-width: 20px;
                    height: 20px;
                    background: #FFFFFF;
                    border-radius: 20px;
                }
            }
        }
    }
}

.lowerBar {
    position: fixed;
    bottom: 50;
    right: 0;
    z-index: 2;
    height: 50px;
    background: #fff;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
    border-radius: 50px 0px 0px 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all 2.5s ease;
    ul {
        display: flex;
        flex-direction: row;
        li {
            margin: 0 15px;
            a {
                display: flex;
                flex-direction: row;
                .icon {
                    margin: 0 10px;
                    width: 20px;
                    min-width: 20px;
                    height: 20px;
                    background: $primary;
                    border-radius: 20px;
                }
                p {
                    font-weight: bold;
                    font-size: 18px;
                    color: $primaryDark;
                }
            }
            a.focus {
                p {
                    background: $primary;
                    color: #fff;
                    padding: 5px 10px;
                }
            }
        }
    }
    .outstanding {
        height: 100%;
        padding: 0 50px;
        background: $primary;
        border-radius: 50px 0px 0px 50px;
        font-weight: bold;
        font-size: 18px;
        color: #FFFFFF;
        border: none;
    }
}

.app {
    position: relative;
    width: 100vw;
    overflow-y: scroll;
    .slider {
        width: 100%;
        background: gray;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .introduction {
        margin-top: 40px;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .serviceSelector {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 40px 0;
        .title {
            font-family: $muli;
            font-weight: bold;
            font-size: 16px;
            color: $primaryDark;
        }
        .selectorContainer {
            display: flex;
            flex-direction: row;
            justify-content: center;
            .selector {
                margin: 20px 10px;
                background: #E5E5E5;
                border-radius: 30px;
                padding: 10px 20px;
                p {
                    font-family: $muli;
                    font-weight: bold;
                    font-size: 16px;
                    color: $primaryDark;
                    min-width: 160px;
                    text-align: center;
                }
            }
            .focus {
                background: #F28C8F;
                p {
                    color: #FFFFFF;
                }
            }
        }
    }
    .services {
        display: flex;
        flex-direction: row;
        align-content: flex-start;
        align-items: flex-start;
        justify-content: center;
        transition: all 2.5s ease;
        .service {
            margin: 0 60px 60px 60px;
            transition: all 2.5s ease;
        }
        .psyco {
            transform: translateX(425px)
        }
        .training {
            transform: translateX(425px)
        }
        .focus {
            border: 4px solid white;
            background: #F28C8F;
            .title {
                color: #FFFFFF;
            }
            .description {
                color: #FFFFFF;
            }
        }
    }
    .infoContainer {
        box-sizing: border-box;
        border-radius: 164.5px;
        border: 4px solid #F28C8F;
        width: 730px;
        max-width: 730px;
        min-width: 730px;
        min-height: 309px;
        padding: 40px 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .title {
            font-family: $nunito;
            font-weight: bold;
            font-size: 90px;
            color: $primary;
            transition: all 2.5s ease;
        }
        .description {
            font-family: $muli;
            font-weight: bold;
            font-size: 16px;
            text-align: center;
            padding: 20px 50px;
            color: $primaryDark;
            transition: all 2.5s ease;
        }
    }
    .serviceAdition {
        /* Wanna see more services? Click here */
        font-family: $muli;
        font-weight: bold;
        font-size: 16px;
        text-align: center;
        color: $primaryDark;
        width: 100vw;
        text-align: center;
        a {
            text-decoration: none;
            color: $primaryDark;
        }
    }
    .helpSuperContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 40px 0;
        .helpContainer {
            width: 80%;
            display: flex;
            flex-direction: row;
            .title {
                min-width: 50%;
                width: 50%;
                line-height: 86px;
                font-size: 90px;
                color: $secondary;
                font-weight: bold;
                text-align: right;
                margin-right: 20px;
            }
            .helpLine {
                min-width: 50%;
                width: 50%;
                background: $secondary;
                color: #FFFFFF;
                font-family: $nunito;
                font-weight: bold;
                text-align: center;
                font-size: 16px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                p.outstanding {
                    font-size: 36px;
                }
                button {
                    background: $primary;
                    border: none;
                    border-radius: 20px;
                    width: 115px;
                    color: #fff;
                    font-family: $nunito;
                    padding: 10px 20px;
                    text-transform: uppercase;
                    font-weight: bold;
                    margin: 10px 0;
                }
            }
        }
    }
}

footer {
    width: 100vw;
    height: 400px;
    background: $primary;
}